<!doctype html>
<html ng-app="App" >
<head>
  <meta charset="utf-8">
  <title>app</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="appCtrl">
  <button type="button" ng-click="reload()"> {{button.text}} </button>

  <div ng-show="showBool">
    <button type="button" ng-click="sortFirst()">Sort by first name </button>
    <button type="button" ng-click="sortLast()">Sort by last name </button>
    <button type="button" ng-click="reOrder()">Restore order </button>

    <ol>
         <li ng-repeat="list in list | orderBy:sortOrder">
           {{list.first}} {{list.last}}
         </li>
    </ol>
  </div> <!-- end showBool div  -->

</body>
</html>
